/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #333;
}

/* Header */
header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2vw 0;
}

header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

/* Container */
.container {
    width: 80vw;
    margin: 0 auto;
}

/* About Section */
#about {
    padding: 2vw 0;
    background-color: #000000;
    text-align: center;
    color: white;
}

#about h2 {
    font-size: 40px;
    margin-bottom: 2vh;
}

/* Skills Section */
#skills {
    padding: 2vw 0;
    background-color: #000000;
    color: white;
}

#skills h2 {
    font-size: 40px;
    margin-bottom: 2vh;
    text-align: center;
}

#skills ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#skills ul li {
    margin: 0 1.2vw;
    font-size: 25px;
}

/* Projects Section */
#projects {
    padding: 2vw 0;
    background-color: #000000;
    color: white;
}

#projects h2 {
    font-size: 40px;
    margin-bottom: 2vh;
    text-align: center;
    color: white;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

.project {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 1vw;
    width: 25vw;
    box-shadow: 0 0.2vh 0.4vw rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5vw;
    text-align: center;
}

.project h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1vh;
}

.project a {
    color: #1e44aa;
    text-decoration: none;
    font-weight: bold;
}

/* Contact Section */
#contact {
    padding: 2vw 0;
    background-color: #000000;
    text-align: center;
}

#contact h2 {
    font-size: 40px;
    margin-bottom: 1vh;
    color: white;
}

#contact ul {
    list-style: none;
    color: white;
}

#contact ul li {
    margin: 0.5vh 0;
    font-size: 20px;
}

#contact a {
    color: #1e44aa;
    text-decoration: none;
}

#contact a:hover{
    text-decoration: underline;
}

#contact a:active{
    color: #551A88;
}

#contact a:visited{
    color: #551A88;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1vw;
}

footer p {
    font-size: 15px;
}

#back {
    text-align: center;
    color: white;
    font-size: 20px;
}



a.button {
    transition-duration: 0.4s;
    padding: 0.1vh 0.6vw;
    border: 0.1vw outset buttonborder;
    border-radius: 20px;
    color: white;
    background-color: black;
    text-decoration: none;
}

a.button:hover {
    color: black;
    background: rgb(197, 197, 197);
}