* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.2rem;
}

#lobo ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#lobo ul li {
    margin: 0 1.2vw;
    font-size: 1.5rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#back {
    text-align: center;
    color: white;
    font-size: 2rem;
}


a.button {
    padding: 0.1vh 0.6vw;
    border: 0.1vw outset buttonborder;
    border-radius: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
}